
table {
    border-collapse: collapse;
    max-width: 900px;
    width: 100%;
    margin: 1rem auto;
  }
  
  table th,
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  thead {
    background: #2bb5ce;
    color: white;
    top:178px;
    position: sticky;
    width: calc(100% - 20px);
    z-index: 1000; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .heading {
    font-size: larger;
  }

.search {
  font-size: 15px;
  margin-top: 10px;
  width: 260px;
  display: inline-block;
  margin-right: 25px;
  padding: 8px 12px;
  transition: border-color 0.4s ease;
}

.search:focus {
  border-color: #2fd1ee;
  border-width: 2px;
}

.excelbutton {
  background-color: #2cc21e;
  color:white;
  border: none;
  border-radius: 5px;
  font-weight:500;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  padding: 8px 12px;
  margin-left: 60px;
}

.excelbutton:hover {
  transform: scale(1.1, 1.1);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  width: 100%;
  max-width: 100%;
}

.records {
  text-align: center;
  font-size:1.5rem ;
  font-weight: 500;
}

.filteredcheckboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
  flex-wrap: nowrap;
}

.filteredcheckboxes label {
  display: flex;
  align-items: center;
  margin: 15px;
  font-size: 16px;
  white-space: nowrap;
}

.filteredcheckboxes input[type= "checkbox"] {
  margin-right: 10px;
}

.clock {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 25px;
  font-weight: 500;
}

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2px;
  background-color: rgb(59, 164, 190);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
}

.table-container {
  margin-top: 200px;
  overflow-y: auto;
}

.champion {
  text-transform: capitalize;
}

td {
  text-align: center;
  vertical-align: middle;
}
.clock-records {
  display: flex;
  justify-content: center;
  width: 100%;
  gap:100px;
}
.heading-text {
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close-button {
  padding: 10px 10px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.close-button:hover {
  background-color: #ff4500;
}

.qr-codes {
  cursor: pointer;
}